<div class="mt-5">
    <h2>Inicio</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae commodi, vero culpa adipisci, itaque illo earum modi architecto harum saepe assumenda molestiae consequatur inventore est repudiandae atque quasi facilis? Vel.</p>
</div>
